## Introduction
In this notebook, we will read the trip data for NY Green Taxi for the month of September 2019, add the data to a SQLite database, and then query the database to answer some questions.

First, we will import the necessary libraries.

In [15]:
from datetime import datetime

import pandas as pd
import sqlite3

Now, we specify the SQLite database to which the data will be written.

In [5]:
db_loc: str = "/Users/tejaskale/Code/data_engineering_zoomcamp/homework/week_1/data/green_taxi.sqlite"

Next, we read the trip data and add it to the SQLite database.

In [6]:
green_taxi_trip_data: pd.DataFrame = pd.read_parquet("./data/green_tripdata_2019-09.parquet")
green_taxi_trip_data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,None,0.3,14.16,1.0,1.0,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,None,0.3,13.30,2.0,1.0,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,None,0.3,13.30,2.0,1.0,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,None,0.3,10.30,1.0,1.0,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,None,0.3,18.36,1.0,1.0,0.0

In [10]:
db_conn = sqlite3.connect(db_loc)

In [11]:
green_taxi_trip_data.to_sql("trip_data", db_conn, if_exists="replace")

449063

Now, we read the zone lookup data and add it to the SQLite database.

In [12]:
zone_lookup_data: pd.DataFrame = pd.read_csv("./data/taxi+_zone_lookup.csv")
zone_lookup_data.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [13]:
zone_lookup_data.to_sql("zone_lookup", db_conn, if_exists="replace")

265

In [14]:
db_conn.close()